body{
    /* height: 100%; */
    margin : 0;
    padding: 0;
    width:100vw;
    overflow-y: hidden;
    background-color: #FDF2DF;
    height: 100vh;
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
}

p{
    font-size: 18px;
    font-family: 'Patrick Hand', cursive; 
}
a {
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
}
li {
    font-size: 18px;
    font-family: 'Patrick Hand', cursive;
}
#map{
    height:92vh;
    /* z-index: -1; */
    
}

input[type=range]+.thumb {
    background-color: #e6920c;
}
span{
    color: black;
}
  
label{
    color: black;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }